@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Norse Bold';
  src: url('../fonts/Norse-Bold.otf');
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: #f9fafb;
}

.image-sidebar {
  max-width: 34%;
  min-width: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  background-image: url(../img/background-leaves.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #f9fafb;
}

.image-sidebar > section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  background-color: rgba(7, 13, 1, 0.5);
}

.image-sidebar img {
  height: 200px;
}

.image-sidebar h1 {
  font-family: 'Norse Bold', Tahoma, sans-serif;
  font-size: 12rem;
}

#img-attribution {
  text-align: center;
  padding: 12px;
  font-size: 1.8rem;
  opacity: 0.7;
}

#img-attribution a,
#img-attribution a:hover,
#img-attribution a:visited,
#img-attribution a:active {
  color: inherit;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding-top: 10vh;
}

.main-content > header {
  max-width: 1245px;
}

#main-heading {
  padding: 64px;
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
}

#main-heading > br {
  margin-top: 24px;
}

#input-fields-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 48px 64px 0px 64px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.295);
}

#input-fields-container > h1 {
  font-size: 2.8rem;
  width: 100%;
  margin-bottom: 24px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  row-gap: 0px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex-grow: 1;
  max-width: 450px;
}

.form-control > label {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.form-control input {
  appearance: none;
  min-width: 300px;
  height: 42px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  font-size: 1.8rem;
}

.form-row:last-child .form-control {
  margin-bottom: 38px;
}

input:focus {
  border: 2px solid #4a6ed6;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.295);
}

.optional {
  color: rgb(105, 105, 105);
  font-size: 1.2rem;
}

.submit {
  padding: 36px 64px;
}

.submit > button {
  background-color: #596d48;
  border-radius: 6px;
  border: none;
  padding: 18px 48px;
  color: #e5e7eb;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 24px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.288);
  transition-duration: 0.4s;
}

.submit > button:hover {
  color: #596d48;
  background-color: #e5e7eb;
  opacity: 0.9;
}

.submit p {
  font-size: 1.8rem;
  font-weight: 600;
}

#login-link,
#login-link:visited,
#login-link:active {
  font-size: 2rem;
  text-decoration: none;
  color: #596d48;
}

.error {
  border: 2px solid #c13838 !important;
}

.error-message {
  visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
  height: 14px;
  color: #c13838;
  font-size: 1.3rem;
  /* Lines are broken at newline characters */
  white-space: pre-line;
}

#success {
  visibility: hidden;
  font-size: 3.6rem;
  font-weight: bold;
  color: #82bb50;
  padding: 24px 0px;
}

/* to disable default blue background on form submit, reference: https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied*/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

@media only screen and (min-width: 1920px) {
  html {
    background-color: black;
    margin: 0px 256px;
  }
}
