html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Norse Bold';
  src: url('../fonts/Norse-Bold.otf');
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #f9fafb;
}

.image-sidebar {
  max-width: 33%;
  min-width: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  background-image: url(../img/background-leaves.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #f9fafb;
}

.image-sidebar > section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: rgba(7, 13, 1, 0.5);
}

.image-sidebar img {
  height: 200px;
}

.image-sidebar h1 {
  font-family: 'Norse Bold', Tahoma, sans-serif;
  font-size: 72px;
}

#img-attribution {
  text-align: center;
  padding: 4px;
  font-size: 14px;
  opacity: 0.7;
}

#img-attribution a,
#img-attribution a:hover,
#img-attribution a:visited,
#img-attribution a:active {
  color: inherit;
}

.main-content {
  flex: 1;
}
